<script lang="ts">
	import EIDBalance from '../lib/EIDBalance.svelte';
	import type { EIDBalanceInterface } from '../lib/eid-interface';
  import { onMount } from 'svelte'
  import ioClient from 'socket.io-client'

	// default test values for EID balance
	var eid_balance: EIDBalanceInterface = {
		inflow1: 0.2,
		inflow2: 0.3,
		outflow1: 0.3,
		outflow2: 0.2,
		fill_level: 0.0
	};

  // target, controllable element
  var target: number = 0.0

  // connection to a websocket server; optionally enter server string here
  const io = ioClient()

  // send changed target data back to a hypothetical application; any time
  // target changes, a websocket message is sent
  $: {
    console.log("New target value", target)
    io.emit('target', target)
  }

  onMount(() => {
  
    // create a function that receives the 'data' messages
    io.on('data', (message) => {
      // console.log("data", message)

      // unpack the message
      eid_balance = JSON.parse(message)
    })
  })

</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<div>
  <!-- The EIDBalance tag refers to the eid balance graph widget
    it will use the data from the eid_balance object.
  -->
	<EIDBalance {eid_balance} bind:target={target} />
</div>

<style>
	div {
		background-color: gray;
	}
</style>
